// .refresh_button {
//     position: fixed;
//     bottom: 110px;
//     right: 6%;
// }
.img_header {
    height: 40px;
}
.indicatior_price {
    text-align: right;
    font-size: 1.45em;
    color: #909090;
}
.main_price_buy {
    color: #C1FF79;
    font-weight: bold;
    font-size: 1.05em;
}
.sub_price_buy {
    color: #F0F4C3;
    font-size: 0.8em;
}
.main_price_sell {
    color: #FF9A9A;
    font-weight: bold;
    font-size: 1.05em;
}
.sub_price_sell {
    color: #FFDBDF;
    font-size: 0.8em;
}